footer {
  position: fixed;
  width: 100%;
  background: #222;
  color: #fff;
<<<<<<< HEAD
  bottom: 0;
=======

  padding: 5rem 0;

>>>>>>> 4166666dab5409bdd89736dc0d41dbe68edf81c7
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.newslatter {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
}

.description {
  max-width: 500px;
  margin-right: 100px;
}

.newslatter h2 {
  font-weight: 300;
  font-size: 1.1rem;
}

.sub-field {
  display: flex;
  flex-direction: column;

  font-weight: bold;

  margin: 20px 0;
}

.sub-field {
  margin: 15px 0;
}

.sub-field input {
  background: #333;
  border: none;
  padding: 10px;
  color: #fff;
}

.sub-field label {
  margin-bottom: 5px;
}

.fields button {
  cursor: pointer;
  background: #333;
  color: #fff;
  border: none;

  padding: 10px 0;

  width: 100%;

  transition: 200ms;
}

.fields button:hover {
  background: #4f4f4f;
  color: #fff;
}

.fields button:disabled {
  background: #979797;
  color: #333;
  cursor: not-allowed;
}
