.news {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 50px;
  /* background: brown; */
}

.news-img {
  height: 100%;
  width: 40%;
}

.news-content {
  width: 50%;
  text-align: justify;
  word-break: keep-all;
}

.news-content h1 {
  font-size: 3rem;
  margin-bottom: 30px;
}
