*{
  margin: 6px;
  padding: 9px;
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto
}

header{
  background-image: url("/img/lsqr.png");
  background-repeat: no-repeat;
  background-position: right top;
  background-color: 	#D3D3D3;
  padding: 20px;
  background-size: 12%;
  background-position:left;
  display: flex;
  flex-direction: column;
  position: relative;
}

body{
  background-color: 	#1C1C1C;
}